@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

:root {
  --green: #ff725e;
  --black: #192a56;
  --light-color: #666;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

* {
  font-family: system-ui, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
  /* direction: rtl; */
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
}

section {
  padding: 2rem 9%;
}

.btn {
  font-size: 1.7rem;
  color: #fff;
  background: var(--black);
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.8rem 3rem;
}

.btn:hover {
  background: var(--green);
  letter-spacing: 0.1rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 1rem 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: var(--box-shadow);
  direction: rtl;
}

header .logo {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: bolder;
}

header .logo i {
  color: var(--green);
}
header .navbar {
}
header .navbar a {
  font-size: 1.9rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  color: var(--light-color);
  font-weight: 400;
  font-family: system-ui;
}

header .navbar a.active,
header .navbar a:hover {
  color: #fff;
  background: var(--green);
}

header .icons i,
header .icons a {
  cursor: pointer;
  margin-left: 0.5rem;
  height: 4.5rem;
  line-height: 4.5rem;
  width: 4.5rem;
  text-align: center;
  font-size: 1.7rem;
  color: var(--black);
  border-radius: 50%;
  background: #eee;
}

header .icons i:hover,
header .icons a:hover {
  color: #fff;
  background: var(--green);
  transform: rotate(360deg);
}

header .icons #menu-bars {
  display: none;
}

#search-form {
  position: fixed;
  top: -110%;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1004;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

#search-form.active {
  top: 0;
}

#search-form #search-box {
  width: 50rem;
  border-bottom: 0.1rem solid #fff;
  padding: 1rem 0;
  color: #fff;
  font-size: 3rem;
  text-transform: none;
  background: none;
}

#search-form #search-box::placeholder {
  color: #eee;
}

#search-form #search-box::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

#search-form label {
  color: #fff;
  cursor: pointer;
  font-size: 3rem;
}

#search-form label:hover {
  color: var(--green);
}

#search-form #close {
  position: absolute;
  color: #fff;
  cursor: pointer;
  top: 2rem;
  right: 3rem;
  font-size: 5rem;
}

/* =========== container ============== */
.container {
  width: 100%;
  height: 100vh;
  padding: 3rem;
    /* display: flex;
    display: flex;
    align-items: center;
    justify-content: center; */
}
.container .back {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  
}
.container .back .img {
  width: 600px;
}
.container .back .img img {
  width: 100%;
}
.text1 {
  font-size: 2.7rem;
  direction: rtl;
  margin: bottom 2rem;
}
.text1 h3 {
    color: rgb(4, 3, 0);

    /* font-size: 3rem;
    /* width:  490px; 
    border-left: 4px rgba(255, 221, 0, 0.712) solid;
    overflow: hidden;
    white-space: nowrap;
    /* animation: control-width 3s 2s steps(28) both,link .5s infinite;
    margin-bottom: 100px; */
}

.text2 a {
  padding: 1.7rem 1rem;
  margin: 0.5rem;
  background-color: var(--green);
  border: solid 1px rgb(255, 255, 255);
  color: white;
  margin: 10px;
  border-radius: 6px;
}
.text2 a:hover {
  background-color: #a10c6f;
  border: solid 3px rgb(243, 153, 9);
}
/* =========== container ============== */

/*  =============== section2 =============== */
.section2 {
  width: 100%;
  height: auto;
  background-color: #eee;
  padding: 3rem;
  direction: rtl;
  margin-top: 5rem;
}
.section2 .tite1 {
  text-align: center;
  /* position: relative; */
  /* background-color: #192a56; */
  display: flex;
  justify-content: center;
  font-size: 3.3rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.tite1 p{
  font-family:'Times New Roman', Times, serif;
  
  font-weight: 700;
  color: #0e58faf4;
  /* background-color: #192a56; */
  /* padding-bottom: 20px; */
  
  

}
.section2 .tite1 .lin{
  position: absolute;
  width: 130px;
  height: .7px;
  bottom: 0;
  right: 135px;
  border-bottom: solid 3px rgb(243, 220, 14) ;
}
.contiter_card{
  margin:  20px auto;
  width: 95%;
  height: auto;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1.2rem;
  /* padding: 0; */
  /* margin: 0 ; */
  position: relative;
padding: 2rem;
border-radius: 25px;

}
.contiter_card:hover{
  box-shadow: 0 0 3px 2px rgba(0, 0, 156, 0.301);
}
.card_Dor{
  width: 360px;
  height: auto;
  background-color: white;
  /* border: solid 2px black; */
  box-shadow: 0 0 10px 10px rgba(24, 21, 21, 0.095);
  opacity: .9;
  margin: 1rem;
  border-radius: 15px;
  overflow: hidden;
  /* overflow: hidden; */
}
.tite1{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  padding: 18px;
  border-radius: 5px;
}
.card_Dor:hover{
  transform: scale(1.1);
    opacity: 1;

}


.card_Dor .bac_img{
  /* overflow: hidden; */
  width: 100%;
  height: 150px;
  background: linear-gradient(rgb(21, 14, 146),#a7176d);
  position: relative;
  margin-bottom: 77px;
  /* border: solid 4px white; */
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.014);
  transition: all .5s;
  
  /* animation: animat 2s 2s infinite ease-in ; */
  
}
.card_Dor .bac_img:hover{
    /* transform: rotate(360deg); */
  
  cursor: pointer;
    background: linear-gradient(rgb(21, 10, 224),rgb(228, 9, 140));
}
@keyframes animat{
  0%{
   
      background: linear-gradient(rgb(10, 0, 194),rgb(251, 255, 0) ,50deg);
  }
  100%{
    background: linear-gradient(rgb(173, 2, 59),rgba(0, 12, 173, 0.877));
  }
}
.bac_img img{
  width: 100%;
  height: 100%;
}
.bac-pro{
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: solid 4px white;
    background-color: rgb(166, 0, 166);
    position: absolute;
    top: 90px;
    right: 6%;

}
.bac-pro img{
  width: 100%;
  height: 100%; 
  border-radius: 50%;
}
.bac-pro img:hover{
  transform: scale(1.2);
  border: solid 3px white;
  transform: rotate(360deg);
}
.card_Dor .name{
  font-size: 2.3rem;
  padding: 20px 1px;
  margin-right: 2%;
  font-weight: bold;
  text-align: center;
  color: black;
}
.card_Dor .cont_title{
  width: 90%;
  height: auto;
  /* background-color: #192a56; */
  margin: 1px auto;
  padding: -1px 30px;
  padding-bottom: 10px;
}
.card_Dor h3 {
  font-size: 20px;
  color: var(--black);
  font-weight: 700;
  line-height: 35px;
}
.card_Dor span{
  font-size: 20px;
  color:rgba(143, 0, 79, 0.799);
}
.call_now{
  display: flex;
  justify-content: center;
  background: linear-gradient(#900048,#f50288cc );
  margin: 5px;
  padding: 10px;
  color: white;
  cursor: pointer;

}
.call_now:hover{

}
.call_now a{
  color:white;
}

/*  =============== section2 =============== */
.footer{
  background-color:#0c040f;
  border-radius: 15px 15px 0 0;
}
.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
  direction: rtl;

}

.footer .box-container .box h3 {
  padding: 0.5rem 0;
  font-size: 2.5rem;
  color: #ff0353;
}

.footer .box-container .box a {
  display: block;
  padding: 0.5rem 0;
  font-size: 1.5rem;
  color: #f2e8f6;
}

.footer .box-container .box a:hover {
  color: #fff;
  text-decoration: underline;
}

.footer .credit {
  text-align: center;
  border-top: .1rem solid rgb(255, 255, 255);
  font-size: 2rem;
  color: var(--black);
  padding: 0.5rem;
  padding-top: 1.5rem;
  margin-top: 1.5rem;
  direction: rtl;
  color: #f2e8f6;
}

.footer .credit span {
  color: #ff0353;
}
/* 
.loader-container{
    position: fixed;
    top:0; left:0;
    height:100%; 
    width:100%;
    z-index: 10000;
    background:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.loader-container img{
    width:35rem;
}

.loader-container.fade-out{
    top:-110%;
    opacity:0;
}

 */

/* media queries  */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  header {
    padding: 1rem 2rem;
  }
  section {
    padding: 2rem;
  }
}
@media (max-width: 768px) {
  header .icons #menu-bars {
    display: inline-block;
  }
  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
.text2{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
  
  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  header .navbar a {
    display: block;
    padding: 1.5rem;
    margin: 1rem;
    font-size: 2rem;
    background: #eee;
  }
  #search-form #search-box {
    width: 90%;
    margin: 0 1rem;
  }
  .home .home-slider .slide .content h3 {
    font-size: 5rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .text1 h3 {
    font-size: 2rem;
  }

  .dishes .box-container .box img {
    height: auto;
    width: 100%;
  }

  .order form .inputBox .input {
    width: 100%;
  }
}
